<div class="flex flex-col w-1/4">
  <% if(aba === "account") { %>
    <div
    id="accountBtn"
    class="flex flex-row items-center h-10 bg-lg rounded-lg mb-4 bg-mediumBlue/25"
  >
    <img src="/images/icons/account_blue.svg" class="h-8 w-8 ms-4" alt="" />
    <h1 class="ms-4 text-xl text-mediumBlue">Conta</h1>
  </div>
  <% } else { %>
    <a
    id="accountBtn"
    href="/account"
    class="flex flex-row items-center h-10 bg-lg rounded-lg mb-4"
  >
    <img src="/images/icons/account.svg" class="h-8 w-8 ms-4" alt="" />
    <h1 class="ms-4 text-xl">Conta</h1>
  </a>
  <% } %>
  <% if(aba === "events") { %>
    <div
    id="eventsBtn"
    class="flex flex-row items-center h-10 bg-lg rounded-lg mb-4 bg-mediumBlue/25"
  >
    <img src="/images/icons/events_blue.svg" class="h-8 w-8 ms-4" alt="" />
    <h1 class="ms-4 text-xl text-mediumBlue">Eventos</h1>
  </div>
  <% } else {%>
    <a
    id="eventsBtn"
    href="/account/events"
    class="flex flex-row items-center h-10 bg-lg rounded-lg mb-4"
  >
    <img src="/images/icons/events.svg" class="h-8 w-8 ms-4" alt="" />
    <h1 class="ms-4 text-xl">Eventos</h1>
  </a>
  <% } %>
</div>
