<div class="mt-4 mb-12 w-4/6 m-auto flex flex-col">
  <h1 class="text-3xl text-darkBlue font-bold mb-4">Eventos em destaque</h1>

  <!--  CARD  -->
  <a href="/" class="w-full h-full flex flex-row mb-4">
    <img src="/images/backdrops/placeholderEvento.png" alt="" class="me-8" />
    <div class="overflow-hidden">
      <h1 class="text-darkBlue text-2xl">Lançamento de um filme</h1>
      <p>31/04</p>
      <p class="overflow-hidden line-clamp-6 text-ellipsis">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        accumsan euismod facilisis. Aenean placerat vehicula neque, nec lobortis
        purus commodo eu. Aenean turpis nulla, fermentum non leo non,
        scelerisque faucibus lectus. In hac habitasse platea dictumst.
        Vestibulum cursus sit amet neque vel finibus. Fusce id rutrum urna.
        Aliquam erat volutpat. Duis ultricies nec urna sit amet pretium. Mauris
        laoreet, lacus ac finibus ullamcorper, neque sem convallis enim, feugiat
        vehicula libero massa vitae arcu. Donec vel magna vitae velit accumsan
        pulvinar blandit a enim. Mauris vel tincidunt mauris, vitae laoreet
        sapien. Suspendisse potenti. Fusce ut nulla aliquet, mattis odio at,
        mattis augue. Mauris id ex sit amet mi vulputate accumsan vel eu lacus.
        Etiam porttitor dolor eu nunc malesuada auctor et eget eros. Vestibulum
        pellentesque vehicula erat, non molestie orci facilisis et.
      </p>
    </div>
  </a>

  <!--  CARD  -->
  <a href="/" class="w-full h-full flex flex-row mb-4">
    <img src="/images/backdrops/placeholderEvento.png" alt="" class="me-8" />
    <div class="overflow-hidden">
      <h1 class="text-darkBlue text-2xl">Lançamento desse filme</h1>
      <p>04/06</p>
      <p class="overflow-hidden line-clamp-6 text-ellipsis">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        accumsan euismod facilisis. Aenean placerat vehicula neque, nec lobortis
        purus commodo eu. Aenean turpis nulla, fermentum non leo non,
        scelerisque faucibus lectus. In hac habitasse platea dictumst.
        Vestibulum cursus sit amet neque vel finibus. Fusce id rutrum urna.
        Aliquam erat volutpat. Duis ultricies nec urna sit amet pretium. Mauris
        laoreet, lacus ac finibus ullamcorper, neque sem convallis enim, feugiat
        vehicula libero massa vitae arcu. Donec vel magna vitae velit accumsan
        pulvinar blandit a enim. Mauris vel tincidunt mauris, vitae laoreet
        sapien. Suspendisse potenti. Fusce ut nulla aliquet, mattis odio at,
        mattis augue. Mauris id ex sit amet mi vulputate accumsan vel eu lacus.
        Etiam porttitor dolor eu nunc malesuada auctor et eget eros. Vestibulum
        pellentesque vehicula erat, non molestie orci facilisis et.
      </p>
    </div>
  </a>

  <!--  CARD  -->
  <a href="/" class="w-full h-full flex flex-row mb-4">
    <img src="/images/backdrops/placeholderEvento.png" alt="" class="me-8" />
    <div class="overflow-hidden">
      <h1 class="text-darkBlue text-2xl">Lançamento DO filme</h1>
      <p>04/07</p>
      <p class="overflow-hidden line-clamp-6 text-ellipsis">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        accumsan euismod facilisis. Aenean placerat vehicula neque, nec lobortis
        purus commodo eu. Aenean turpis nulla, fermentum non leo non,
        scelerisque faucibus lectus. In hac habitasse platea dictumst.
        Vestibulum cursus sit amet neque vel finibus. Fusce id rutrum urna.
        Aliquam erat volutpat. Duis ultricies nec urna sit amet pretium. Mauris
        laoreet, lacus ac finibus ullamcorper, neque sem convallis enim, feugiat
        vehicula libero massa vitae arcu. Donec vel magna vitae velit accumsan
        pulvinar blandit a enim. Mauris vel tincidunt mauris, vitae laoreet
        sapien. Suspendisse potenti. Fusce ut nulla aliquet, mattis odio at,
        mattis augue. Mauris id ex sit amet mi vulputate accumsan vel eu lacus.
        Etiam porttitor dolor eu nunc malesuada auctor et eget eros. Vestibulum
        pellentesque vehicula erat, non molestie orci facilisis et.
      </p>
    </div>
  </a>
</div>
