<div class="flex flex-row w-4/6 m-auto mt-8">
  <div class="bg-white rounded w-full mb-8">
    <div class="ms-8 me-8 m-auto">
      <h1 class="mt-4 m-auto text-4xl font-semibold mb-14">Criar evento</h1>
      <form class="flex flex-col" action="/events" method="POST">
        <div class="flex flex-row">
          <div class="me-4 w-1/2">
            <p class="font-semibold">TÍTULO</p>
            <input
              name="title"
              type="text"
              class="w-full h-10 p-3 rounded-lg bg-lightBlue/25 border-2 border-lightBlue/25 focus:border-mediumBlue focus:outline-none focus:ring-1 focus:ring-darkBlue"
              required
            />
          </div>
        </div>
        <div class="mt-4 mb-4 flex flex-row">
          <div class="me-4 w-2/12">
            <p class="font-semibold">DATA</p>
            <input
              name="date"
              type="date"
              class="text-center w-full h-10 p-3 rounded-lg bg-lightBlue/25 border-2 border-lightBlue/25 focus:border-mediumBlue focus:outline-none focus:ring-1 focus:ring-darkBlue"
              required
            />
          </div>
          <div class="me-4 w-2/12">
            <p class="font-semibold">HÓRARIO</p>
            <input
              name="time"
              type="time"
              class="text-center w-full h-10 p-3 rounded-lg bg-lightBlue/25 border-2 border-lightBlue/25 focus:border-mediumBlue focus:outline-none focus:ring-1 focus:ring-darkBlue"
              required
            />
          </div>
          <div class="me-4 w-5/12">
            <p class="font-semibold">LOCALIZAÇÃO</p>
            <input
              name="location"
              type="text"
              class="w-full h-10 p-3 rounded-lg bg-lightBlue/25 border-2 border-lightBlue/25 focus:border-mediumBlue focus:outline-none focus:ring-1 focus:ring-darkBlue"
              required
            />
          </div>
        </div>
        <div>
          <div class="me-4 mb-4">
            <p class="font-semibold">DESCRIÇÃO</p>
            <textarea
              name="body"
              type="text"
              class="w-full h-64 p-3 rounded-lg bg-lightBlue/25 border-2 border-lightBlue/25 focus:border-mediumBlue focus:outline-none focus:ring-1 focus:ring-darkBlue"
              rows="8"
              required
            ></textarea>
          </div>
        </div>

        <button
          class="bg-mediumBlue p-3 rounded-md w-44 hover:bg-darkBlue mb-12"
          type="submit"
        >
          <p class="text-white">Criar Evento</p>
        </button>
      </form>
    </div>
  </div>
</div>
