<!-- Cabeçalho com menu de navegação -->
<header class="flex mb-8 bg-darkBlue text-white">
  <div class="flex flex-row items-center w-4/6 m-auto h-16">
    <h2 class="font-bold text-3xl flex-grow">Filmeet</h2>
    <nav class="flex items-end">
      <a class="me-4" href="/">Sign In</a>
      <a href="/">Login </a>
    </nav>
  </div>
</header>
