<!-- Cabeçalho com menu de navegação -->
<header class="flex bg-darkBlue text-white mb-0">
  <div class="flex flex-row items-center w-4/6 m-auto h-16">
    <a href="/" class="font-bold text-3xl flex-grow">Filmeet</a>
    <nav class="flex items-end justify-center">
      <a class="me-4" href="/"><img src="/images/icons/ticket.svg" alt=""></a>
      <a href="/"><img src="/images/icons/account.svg" alt=""></a>
    </nav>
  </div>
</header>
