<!-- Cabeçalho com menu de navegação -->
<div class="h-48 bg-[url('/images/backdrops/mainBanner.png')] bg-linear-to-r from-darkBlue to-lightBlue">
  <div class="flex justify-center w-4/6 m-auto">
    <div class="flex flex-col w-full h-2 mt-10 mb-10 bg-white rounded-lg shadow-lg p-5">

    </div>
  </div>
</div>
